<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="AutoTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
                </sectionGroup>
        </configSections>
        <startup>
            
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
        <userSettings>
                <AutoTech.Properties.Settings>
                        <setting name="PLC_ComNum" serializeAs="String">
                                <value>COM3</value>
                        </setting>
                        <setting name="PLC_BaudRate" serializeAs="String">
                                <value>9600</value>
                        </setting>
                        <setting name="PLC_DataBit" serializeAs="String">
                                <value>7</value>
                        </setting>
                        <setting name="PLC_StopBit" serializeAs="String">
                                <value>1</value>
                        </setting>
                        <setting name="PLC_Parity" serializeAs="String">
                                <value>Even</value>
                        </setting>
                        <setting name="Camera_GlobalSN" serializeAs="String">
                                <value>22546294</value>
                        </setting>
                        <setting name="Camera_LocalSN" serializeAs="String">
                                <value>22546306</value>
                        </setting>
                        <setting name="Camera_LocalExp" serializeAs="String">
                                <value>100000</value>
                        </setting>
                        <setting name="Card8338ID" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="Card204" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="Camera_GlobalExp" serializeAs="String">
                                <value>300000</value>
                        </setting>
                </AutoTech.Properties.Settings>
        </userSettings>
</configuration>
